html{
    background-color: black;
}
div{
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
}

h1{

    text-transform: uppercase;
    font-size: 3rem;
}


img{
    border: 5px solid white;
    width: 100%;
}

.text{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    color: white;
}